@charset "UTF-8";
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(224, 225, 220);
}
header{
    background-color: rgb(255, 248, 239);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
main{
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
article{
    background-color:rgb(249, 237, 223);
    padding: 5px;
    border-radius: 10px;
}
article > aside{
    background-color: rgb(255, 248, 239);
}
