@charset "UTF-8";
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(224, 225, 220);
}
header{
    background-color: rgb(255, 248, 239);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
main{
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
article{
    background-color:rgb(249, 237, 223);
    padding: 5px;
    border-radius: 10px;
}
article > aside{
    background-color: rgb(255, 248, 239);
}
footer{
    background-color:rgb(255, 248, 239);
    text-align: center;
    padding: 1px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.159);
}
nav > a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
nav > a:hover{
    text-decoration: underline;
    background-color: rgb(252, 235, 215);
}