@charset "UTF-8";
body {
    background-color: rgb(224, 225, 220);
    text-align: justify;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 248, 239);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
article{
    background-color:rgb(249, 237, 223);
    padding: 5px;
    border-radius: 10px;
}
article > aside{
    background-color: rgb(255, 248, 239);
}
nav{
    background-color: rgb(255, 241, 223);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
nav li{
    display: inline-block;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: rgb(208, 196, 156);
}
footer{
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
    text-align: center;
}
form{
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form textarea{
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.divctt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
    background-color: rgb(255, 248, 239);
}
.ctts{
    font-family: Arial, Helvetica, sans-serif;
}
.DS{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div_pag3_body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}
.p_pag3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home_voltar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 248, 239);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.home_voltar a{
    text-decoration: none;
    color: rgb(122, 112, 83);
}
.home_voltar a:hover{
    color: rgb(246, 223, 167);
    background-color:rgb(0, 0, 0);
}
.Doc-list a{
    text-decoration: none;
    color: rgb(122, 112, 83);
}
.Doc-list a:hover{
    color: rgb(246, 223, 167);
    background-color: rgb(255, 248, 239);
}